{{ define "main" }}
    {{ if .IsTranslated }}
    <nav class="languages links">
        <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .RelPermalink }}">{{ or (.Language.LanguageName) (.Language.Lang) }}</a>
        </li>
        {{ end }}
        </ul>
    </nav>
    {{ end }}
    <div id="content">
    <aside id="sidebar">
        <div id="avatar">
            <img class="main-icon" src="{{ .Site.Params.iconpath }}">
        </div>
        
        <div id="bio"> 
            <p>{{ .Site.Params.bio }}</p>
        </div>
        
        <div class="small-box" id="about_me_list">
            <ul>
                {{ range (index .Site.Params "basic-info") }}
                    <li>{{.}}</li>
                {{ end }}
            </ul>

            <script type="text/javascript">
                //add the age
                var list = document.getElementById("about_me_list").getElementsByTagName("ul")[0];

                //locate the age
                var els = list.getElementsByTagName("li");
                for(var i = 0; i < els.length; i++) {
                    var el = els[i];
                    if(el.innerText.startsWith("born in")) {
                        //construct date
                        var data = el.innerText.substring(7).split(" ");
                        var year = parseInt(data[2]);
                        var month = parseInt(data[1]);
                        var born = new Date(year, month-1, 1);

                        //do math and display
                        var difference = new Date(Date.now()) - born;
                        var age = new Date(difference).getFullYear()-1970;
                        el.innerText = `${age} years old`
                    }
                }
            </script>
        </div>
        
        <nav class="links">
            <div>
                {{ range .Site.Params.links }}
                    <a href="{{ .link }}" target="_blank" rel="noopener"><img width=40 src="{{ printf "/%s" .icon }}">{{ .name }}</a>
                {{ end }}
            </div>
        </nav>
    </aside>
    <main>
        <article id="top" class="clearfix">
            <section>
            <div class="img-right">
                <img src="{{ .Params.image }}">
            </div>
            <div>
            {{ with .Site.GetPage "section" "/header.md" }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Content }}</p>
            {{ end }}
            </div>
            </section>
            <section>
                <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
                <script src="/pagefind/pagefind-ui.js"></script>
                <div id="search"></div>
                <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI(
                        {
                            element: "#search",
                            showSubResults: true
                        }
                    );
                });
                </script>
            </section>
        </article>
    {{ $limit := index (index .Site.Params "read-more") "length-limit" }}
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range $index, $page := (.Paginate $pages (or (index .Site.Params "posts-per-page") 5)).Pages }}
        <article>
            {{- if (index .Params "table-of-contents") }}
            <div id="post-toc-{{ $index }}" class="dropbox-content table-of-contents float">
                {{ partial "toc.html" $page }}
            </div>
            {{ end }}

            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

            {{ $tags := $page.Params.tags }}
            {{ range $index, $tag := .Params.tags }}
            <a href="{{ relLangURL (printf "/tags/%s" $tag) }}">{{ $tag }}</a>{{ if ne $index (sub ($tags | len) 1) }},{{ end }}
            {{ end }}

            <div class="description">
                <p style="margin: 0">
                    {{ default ($page.Title) $page.Description }}
                </p>
            </div>
        </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}

    <article id="bottom" class="clearfix">
        <section>
            <h5 style="margin: 0px;">Credit where credit's due..</h5>
            <ul>
                {{ range .Site.Params.credits }}
                <li>
                    {{ .reason }}: <a target="_blank" rel="noopener" href="{{ .link }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
        </section>
    </article>
    <script>
    window.addEventListener('click', e => {
        let dropboxs = document.getElementsByClassName("dropbox-content");
        let dropbox_btns = document.getElementsByClassName("dropbox-btn");

        if (dropbox_btns.namedItem(e.target.id) != null) return;

        if(dropboxs.namedItem(e.target.id) == null) {
            for (let i = 0; i < dropboxs.length; i++) {
                dropboxs[i].removeAttribute("visible");
            }
        }
    }, true)

    function toggleReadMore() {
        var fullContent = document.getElementById("full-content");
        var btnText = document.getElementById("read-more-btn");
        var textContent = document.getElementById("text-content");

        if (fullContent.style.display === "none") {
            textContent.style.display = "none";
            fullContent.style.display = "inline";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.less }};
        } else {
            textContent.style.display = "inline";
            fullContent.style.display = "none";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.more }};
        }
    }

    function toggleDropbox(id) {
        let dropbox = document.getElementById(id);

        dropbox.toggleAttribute("visible");
    }
    </script>
    </main>
{{ end }}
