{{ define "main" }}
    {{ if .IsTranslated }}
    <nav class="languages links">
        <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .RelPermalink }}">{{ or (.Language.LanguageName) (.Language.Lang) }}</a>
        </li>
        {{ end }}
        </ul>
    </nav>
    {{ end }}
    <div id="content">
    <aside id="sidebar">
        <div id="avatar">
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            <img class="flower" src="{{ index .Params "icon-path" }}">
            {{ end }}
        </div>
        
        <div id="bio">
        {{ with .Site.GetPage "section" "/sidebar/bio.md" }}
            {{ .Content | safeHTML }}
        {{ end }}
        </div>
        
        <div class="small-box" id="about_me_list">
            {{ with .Site.GetPage "section" "/sidebar/basic_info.md" }}
                {{ .Content | safeHTML }}
            {{ end }}

            <script type="text/javascript">
                //add the age
                var list = document.getElementById("about_me_list").getElementsByTagName("ul")[0];

                //locate the age
                var els = list.getElementsByTagName("li");
                for(var i = 0; i < els.length; i++) {
                    var el = els[i];
                    if(el.innerText.startsWith("born in")) {
                        //construct date
                        var data = el.innerText.substring(7).split(" ");
                        var year = parseInt(data[2]);
                        var month = parseInt(data[1]);
                        var born = new Date(year, month-1, 1);

                        //do math and display
                        var difference = new Date(Date.now()) - born;
                        var age = new Date(difference).getFullYear()-1970;
                        el.innerText = `${age} years old`
                    }
                }
            </script>
        </div>
        
        <nav class="links">
            <ul>
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            {{ range .Params.links }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
            {{ end }}
            {{ end }}
            </ul>
        </nav>
    </aside>
    <main>
        <article id="top" class="clearfix">
            {{ with .Site.GetPage "section" "/welcome-header/_index.md" }}
            <section>
            <div class="img-right">
                <img src="{{ .Params.image }}">
            </div>
            <div>
            <h1>{{ .Params.title }}</h1>
            {{ range .Params.intro }}
                <p>{{ . }}</p>
            {{ end }}
            </div>
            </section>
            <section>
                <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
                <script src="/pagefind/pagefind-ui.js"></script>
                <div id="search"></div>
                <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI(
                        {
                            element: "#search",
                            showSubResults: true
                        }
                    );
                });
                </script>
            </section>
            {{ end }}
        </article>
    {{ $limit := index (index .Site.Params "read-more") "length-limit" }}
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range $index, $page := (.Paginate $pages (or (index .Site.Params "posts-per-page") 5)).Pages }}
        <article>
            {{- if (index .Params "table-of-contents") }}
            <button id="post-toc-btn-{{ $index }}" class="dropbox-btn" onclick="toggleDropbox('post-toc-{{ $index }}')" >☰</button>
            <div id="post-toc-{{ $index }}" class="dropbox-content table-of-contents float">
                {{ partial "toc.html" $page }}
            </div>
            {{ end }}
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ $tags := $page.Params.tags }}
            tags:
            {{ range $index, $tag := .Params.tags }}
            <a href="{{ relLangURL (printf "/tags/%s" $tag) }}">{{ $tag }}</a>{{ if ne $index (sub ($tags | len) 1) }},{{ end }}
            {{ end }}
            <div class="post-header">
                @{{ $page.Params.author }} <span class="timestamp">{{ $page.Date.Format "January 2, 2006" }}</span>
            </div>
            {{ with index $page.Params "title-images" }}
            <div class="photosetx2">
                {{ range first 2 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
            {{ with index $page.Params "ending-images" }}
            <div class="photosetx3">
                {{ range first 3 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
        </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}

    <article id="bottom" class="clearfix">
        <section>
                <h5 style="margin: 0px;">Credit where credit's due..</h5>
                <span style="font-size: 0.7rem;">
                    {{ with .Site.GetPage "section" "/welcome-header/credit.md"}}
                        {{.Content | safeHTML}}
                    {{end}}
                </span>
            </section>
    </article>
    <script>
    window.addEventListener('click', e => {
        let dropboxs = document.getElementsByClassName("dropbox-content");
        let dropbox_btns = document.getElementsByClassName("dropbox-btn");

        if (dropbox_btns.namedItem(e.target.id) != null) return;

        if(dropboxs.namedItem(e.target.id) == null) {
            for (let i = 0; i < dropboxs.length; i++) {
                dropboxs[i].removeAttribute("visible");
            }
        }
    }, true)

    function toggleReadMore() {
        var fullContent = document.getElementById("full-content");
        var btnText = document.getElementById("read-more-btn");
        var textContent = document.getElementById("text-content");

        if (fullContent.style.display === "none") {
            textContent.style.display = "none";
            fullContent.style.display = "inline";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.less }};
        } else {
            textContent.style.display = "inline";
            fullContent.style.display = "none";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.more }};
        }
    }

    function toggleDropbox(id) {
        let dropbox = document.getElementById(id);

        dropbox.toggleAttribute("visible");
    }
    </script>
    </main>
{{ end }}
