{{- $lang  := .Attributes.lang | default .Type -}}
{{- $opts := "lineNos=false" -}}

<div class="highlight-wrapper"
{{ if (not (isset .Attributes "script_name")) }} style="max-width: fit-content;"{{ end }}
>
  {{if isset .Attributes "script_name"}}
      {{- $opts = .Options -}}

    <div class="highlight-toolbar">
      <span class="item">
          <span class="bold">{{ .Attributes.script_name }}</span>
      </span>

      <div>
        <button class="toolbar-bttn" onclick="copy_script(this)"><img src="/icons/copy.png"></button>
        <button class="toolbar-bttn" onclick="download_script(this, '{{ .Attributes.script_name }}')"><img src="/icons/download.png"></button>
      </div>
    </div>
  {{end}}

  {{- highlight .Inner $lang $opts -}}
</div>